NotificationConfigurations: [
  {
    TopicARN: 'yourarn'
    NotificationTypes:[
      'autoscaling:EC2_INSTANCE_LAUNCH'
      'autoscaling:EC2_INSTANCE_LAUNCH_ERROR'
      'autoscaling:EC2_INSTANCE_TERMINATE'
      'autoscaling:EC2_INSTANCE_TERMINATE_ERROR'
    ]
  }
]
